attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
distlib==0.3.6
eth-hash==0.5.1
eth-typing==2.3.0
filelock==3.12.0
hexbytes==0.3.0
idna==3.4
lru-dict==1.2.0
more-itertools==9.1.0
packaging==23.1
platformdirs==3.5.1
pluggy==0.13.1
py==1.11.0
pycryptodome==3.18.0
six==1.12.0
toml==0.10.2
toolz==0.12.0
urllib3==2.0.2
wcwidth==0.2.6
websockets==6.0
zipp==3.15.0
